{% extends "base.html" %}

{% block title %}
Listagem de Pet
{% endblock title %}

{% block content %}
<section class="content">

    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center">{{pet.nome}}</h3>

                    <p class="text-muted text-center">{{pet.get_categoria_display}}</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Data de Nascimento</b> <a class="pull-right">{{pet.nascimento}}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Cor</b> <a class="pull-right">{{pet.get_cor_display}}</a>
                        </li>
                    </ul>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{% url 'cadastrar_consulta' pet.id %}" class="btn btn-primary btn-block">
                                Cadastrar Consulta
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <!-- About Me Box -->
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#timeline" data-toggle="tab">Histórico</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="timeline">
                        <ul class="timeline timeline-inverse">
                            <li class="time-label">
                        <span class="bg-red">
                          {% now "SHORT_DATE_FORMAT" %}
                        </span>
                            </li>

                            {% for consulta in consultas %}
                            <li>
                                <i class="fa fa-paw bg-blue"></i>
                                <div class="timeline-item">
                                    <span class="time"> <i class="fa fa-calendar"></i>
                                        {{consulta.data}}
                                    </span>
                                    <h3 class="timeline-header">
                                        {{consulta.pet.nome}} realizou nova consulta
                                    </h3>
                                    <div class="timeline-body">
                                        {{consulta.motivo_consulta}}
                                    </div>
                                    <div class="timeline-footer">
                                      <a class="btn btn-primary btn-xs" href="{% url 'listar_consulta_id' consulta.id %}">
                                        Visualizar consulta
                                      </a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                            <!-- END timeline item -->

                            <li>
                                <i class="fa fa-clock-o bg-gray"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

