{% extends 'base.html' %}

{% block title %}
Listagem de clientes
{% endblock title %}

{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Listagem de clientes</h3>
    </div>

    <div class="box-body">
        <table class="table">
            <thead>
               <tr>
                   <th>Nome</th>
                   <th>Data de Nascimento</th>
                   <th>Profissão</th>
                   <th>Ações</th>
               </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td><a href="{% url 'listar_cliente_id' cliente.id %}">{{cliente.nome}}</a></td>
                    <td>{{cliente.data_nascimento}}</td>
                    <td>{{cliente.profissao}}</td>
                    <td>
                        <a href="{% url 'editar_cliente' cliente.id %}">Editar</a>
                        <a href="{% url 'remover_cliente' cliente.id %}">Remover</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <a href="{% url 'cadastrar_cliente' %}">
            <button class="btn btn-primary">Cadastrar</button>
        </a>
    </div>
</div>
{% endblock content %}