{% extends "base.html" %}

{% block title %}
Listagem de clientes
{% endblock title %}

{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Listagem de funcionários</h3>
    </div>
    <div class="box-body">
        <table class="table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Cargo</th>
            </tr>
            </thead>
            <tbody>
            {% for i in funcionarios %}
            <tr>
                <td>{{i.nome}}</td>
                <td>{{i.nascimento}}</td>
                <td>{{i.get_cargo_display}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>

        <a href="{% url 'cadastrar_funcionario' %}">
            <button class="btn btn-primary">Cadastrar</button>
        </a>
    </div>
</div>
{% endblock content %}
